
platforms/android/app/src/main/assets/www/css/magnific-popup\.css

platforms/android/app/src/main/assets/www/css/style\.css

platforms/android/app/src/main/assets/www/feri\.json

platforms/android/app/src/main/assets/www/index\.html

platforms/android/app/src/main/assets/www/js/

plugins/browser\.json

platforms/

plugins/
